doctype
html
    head
        title #{title} - Intel Edison Command Center
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 Intel Edison Command Center
        .container
            .main-content
                block content
            .sidebar
                block sidebar
        footer
            p Running on node with Express, Jade and Stylus